---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

import Accordion from "@components/accordion.astro";
---


<Layout title="" >
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MT98KX4B1X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT98KX4B1X');
</script>
  <Container >
    <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl text-center font-extrabold text-transparent sm:text-5xl "
        >
        Haze Music For Youth Empowerment
  
          <span class="sm:block">   </span>
        </h1>
    <Hero />
    <div class="fixed bottom-6 right-6">
      <a href="https://www.buymeacoffee.com/hazeyouthug" target="_blank" rel="noopener noreferrer"
          class="bg-yellow-500 text-white font-medium rounded-md px-4 py-2 flex items-center justify-center hover:bg-yellow-600 transition duration-300 ease-in-out shadow-lg">
          <span class="text-lg mr-2">☕</span>
          Buy me a coffee
      </a>
  </div>
    <Features />
    <Accordion />
    <Cta />
  </Container>
</Layout>
