---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Repository">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MT98KX4B1X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT98KX4B1X');
</script>
  <Container>
    <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<section class="bg-gray-900 text-white text-right">
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
    >
    
    <div class="mx-auto max-w-5xl text-center">
        
        <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl "
        >
        HAZEYouth One-Stop Repository for Innovative Narratives
  
          <span class="sm:block">   </span>
        </h1>
  
        <div class="lg:w">
            <p class="mb-4 text-2xl text-white">
                A centralised digital hub for showcasing progressive narratives and resources related to youth empowerment.
            </p>
         <div class="lg:w">
            <p class="mb-4 text-2xl text-white text-left">
                •	Target Audience: Young people, educators, policymakers, and community leaders.</br>
                •	Content Types: Research, articles, multimedia, podcasts, infographics, case studies.</br>
                •	Access: Free, with optional membership for premium content.
             </p>
                <h1
                class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl "
            >
            Share Your Resources on the HAZEYouth Repository! 
        </h1>
            <div class="lg:w">
                <p class="mb-4 text-2xl text-white text-left">
                    Are you an individual or organisation with valuable insights, research, or experiences that align with our progressive narratives for young people? We invite you to contribute your resources to the HAZEYouth Repository!  </p>
                    <h1
             class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
           >
           Why Contribute?
     </h1>
         <div class="lg:w">
            <p class="mb-4 text-2xl text-white text-left">
              
📈 Increase your impact by sharing with a wider audience.</br>
🤝 Join a network of change-makers.</br>
🌟 Gain recognition as a contributor to a progressive narrative.</p>
  <h class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
              >
              How to Contribute?
        </h1>
            <div class="lg:w">
               <p class="mb-4 text-2xl text-white text-left">
                1.	Visit our contribution page [Insert URL here].</br>
                2.	Follow the easy steps to upload your resources.</br>
                3.	Our team will review submissions and get in touch with you.</p>
                <h1
             class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
           >
           Innovative Narratives Unpacked 
     </h1>
         <div class="lg:w">
            <p class="mb-4 text-2xl text-white text-left">
                At HAZEYouth, we are dedicated to challenging and redefining the narratives around young people's experiences and capabilities. Our progressive narratives seek to empower young individuals in various dimensions, from their active roles in societal change to their creative capacities and digital engagement. This repository serves as a platform to amplify these innovative narratives. By contributing, you not only share 
                a resource—you also add to a collective voice that empowers and transforms the youth experience.</p>

                <h1
                class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
            >
            Progressive Narratives to Consider:
        </h1>
            <div class="lg:w">
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Young people as Agents of Change: </p>
                <p class="mb-4 text-2xl text-white font-medium text-left">
               
                Empowering young individuals to actively participate in social, political, and economic transformations.
              </p>
              
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Young people as Warriors of Well-Being: </p>
                <p class="mb-4 text-2xl text-white font-medium text-left">
               
                Advocating for mental and physical health as a crucial part of young people's lives.
              </p>
              
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Young people on a Journey of Balance: </p>
                <p class="mb-4 text-2xl text-white font-medium text-left">
                Promoting mental and emotional well-being through resilience, coping mechanisms, and emotional intelligence.
              </p>
              
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Young people growing Creative Capital: <br>
                <p class="mb-4 text-2xl text-white font-medium text-left">
               
                Elevating the role of the arts and creativity as viable and valuable paths for young people's development.
              </p>
              
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Young people manifesting Digital Productivity: <br>
                <p class="mb-4 text-2xl text-white font-medium text-left">
               
                Fostering responsible and beneficial use of digital platforms for learning, earning, and meaningful engagement.
              </p>
              
              <p class="mb-4 text-2xl text-white font-bold text-left">
                Youth Movement Building: <br>
                <p class="mb-4 text-2xl text-white font-medium text-left">
               
                Mobilising young people to come together to create transformative, sustainable change in their communities.
              </p>
              
</div>
 <h1
                    class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
                >
                Have Another Narrative?
            </h1>
                <div class="lg:w">
                    <p class="mb-4 text-2xl text-white text-left">
                        •	We are open to other progressive narratives that empower young people. Feel free to share!
                        </p>
                        <h1
                        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
                    >
                    
Become a part of the change. Share your resources to the HAZEYouth Repository today! 

                </h1>
                </div>  
                <div class="mt-8 flex flex-wrap justify-center gap-4">
            
          <a
            class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] text-black focus:outline-none focus:ring active:text-opacity-75"
            href="https://forms.gle/pGBdYTkk2FNvgR1PA"
          >
            <span
              class="block rounded-full bg-white px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
            Share here
            </span>
          </a>
        </div>
<section class="bg-gray-900 text-white">
    
  </section>
  </Container>
</Layout>
