---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Safe Spaces">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MT98KX4B1X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT98KX4B1X');
</script>
  <Container>
    <!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<section class="bg-gray-900 text-white">
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
    >
    
    <div class="mx-auto max-w-5xl text-center">
        
        <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
        HAZEYouth Safe Space
  
          <span class="sm:block">  Step into the HAZEYouth Safe Space </span>
        </h1>
  
        <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
            Feeling stressed, depressed, or simply need someone to talk to? We’ve got your back.
        </p>
        
      </div>
    
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">What:</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            A virtual community focusing on emotional well-being
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">Why:</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            To provide a safe, inclusive space for young people to share experiences, listen, learn, and heal.
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">Where:</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Our private Discord server
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">When:</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            24/7 access with scheduled live sessions.
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">Who:</h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Aimed at young people who are stressed, depressed, lonely, or facing challenges in various life spheres
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
          href="/services/digital-campaigns"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 text-pink-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
            />
          </svg>
  
          <h2 class="mt-4 text-xl font-bold text-white">How: </h2>
  
          <p class="mt-1 text-sm text-gray-300">
            Through audio venting channels and structured one-on-one interviews
          </p>
          
        </a>
        
      </div>
  
    </div>
  </section>
<section class="bg-gray-900 text-white">
    <div
      class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-30 lg:items-center"
    >
      <div class="mx-auto max-w-5xl text-center">
        <h1
          class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
        >
        Themes:
  
          <span class="sm:block text-left"> Mental health, substance abuse, cyberbullying, body image, peer pressure, sexual and gender-based violence. </span>
        </h1>
  
        <p class="mx-auto mt-4  sm:text-xl/relaxed text-left">
            How to Join?</br> 1. Download Discord: If you don't have it yet, download it here.</br> 2. Create an Account: Follow the prompts to create your anonymous account.</br>3. Join our Server: Click on this invite link below to join the HAZEYouth Safe Space.
        </p>
        
  
        <div class="mt-8 flex flex-wrap justify-center gap-4">
            <a
            class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
            href="https://discord.gg/Rc6EU6U2Vh"
          >
            <span
              class="block rounded-full bg-lime-green px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
              Join our Safe Space
            </span>
          </a>
          <a
            class="inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
            href="https://forms.gle/oJ35f3KF3JGnZtgq7"
          >
            <span
              class="block rounded-full bg-lime-green px-8 py-3 text-sm font-medium hover:bg-transparent"
            >
            Sign up here
            </span>
          </a>
        </div>
        <div class="flex justify-center">
          <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a href="#!">
                  <iframe width="320" height="240" class="w-full rounded-t-lg" 
                          src="https://www.youtube.com/embed/TJ13BA3-NR4" 
                          frameborder="0" 
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                          allowfullscreen>
                  </iframe>
              </a>
              <div class="p-6">
                  <h5 class="text-gray-900 text-xl font-medium mb-2">Guide on using Discord</h5>
                  <p class="text-gray-700 text-base mb-4">
                      In this tutorial, we will be showing you how to use Discord.
                  </p>
                  
              </div>
          </div>
      </div>
      
      </div>
      </div>
    </div>
  </section>
  </Container>
</Layout>
