---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Redefine the Future, Come Aboard",
    description:
      "In a world where young voices often get lost in the noise, HAZEYouth offers a dynamic platform for you to be heard, to learn, to dream, and to lead. We challenge stereotypes and create a new narrative powered by the ingenuity and resilience of youth like you.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Be authentic",
    description:
      "We are all uniquely gifted…let us all use our inner capacities and insight for self-expression and social development.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Coaching",
    description:
      "To coach young people for positive peer pressure and identities.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Safe Places",
    description:
      "To provide safe, inclusive and supervised spaces for young people to maintain mental health.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Music Programs",
    description:
      "To leverage the power of creativity to promote positive self-expression and social change   ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Haze Youth will build a grass roots community that creates change in the world.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl text-center font-bold lg:tracking-tight">
    WELCOME TO HAZEYOUTH
  </h2>
  <h2 class="text-4xl lg:text-5xl text-center font-bold lg:tracking-tight">
    Igniting Transformation in Young Lives
  </h2>
  <p class="text-lg mt-4 text-center text-slate-600">Greetings from HAZEYouth, the platform where you can be part of something bigger. We are not just another non-profit; we are a movement aimed at unleashing the incredible potential of young individuals aged 15-35. We are here to shatter the stereotypical barriers that society
 has set for youth, by catalyzing creative thinking, nurturing excellence, and promoting lifelong learning. </p>
</div>
<!-- 
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
