<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Luc Muhizi. All rights reserved.
  </p>
  
  <p class="text-center text-xs text-slate-500 mt-1">
    Built by  <a
      href="Luc Muhizi"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Luc Muhizi
    </a>
  </p>
</footer>
